.button{
    border: none;
    border-radius: 8px;
    padding: 20px;
    background-color: lightskyblue;
    color: white;
    transition: filter .3s ease-in-out;
}

.button:hover{
    filter: opacity(0.2);
}